html {
    height: 100%;
}
 
body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #004080;
    color: white;
    padding: 15px;
    text-align: center;
}

.search {
    text-align: center;
    margin: 20px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #004080;
    color: white;
    margin-top: 97px;
    margin-bottom: 0px;
}

h1 a{
    text-decoration: none; 
    color: inherit;
}

#maintenance-alert {
    animation: fadeInOut 7s forwards;
    opacity: 0;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translate(-50%, -20px); }
    10% { opacity: 1; transform: translate(-50%, 0); }
    90% { opacity: 1; transform: translate(-50%, 0); }
    100% { opacity: 0; transform: translate(-50%, -20px); }
}